  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">{{'orders' | translate}}</h3>
        </div>
        <div class="box-body">
          <button type="button" label="Send" class="btn btn-info pull-right" (click)="new()">{{'new' | translate}}</button>
          <table class="table table-bordered">
            <tr>
              <th>{{'date' | translate}}</th>
              <th>{{'name' | translate}}</th>
              <th>{{'productType' | translate}}</th>
              <th>{{'productSubType' | translate}}</th>
              <th>{{'product' | translate}}</th>
              <th>{{'value' | translate}}</th>
              <th>{{'status' | translate}}</th>
              <th style="width: 10px">&nbsp;</th>
              <th style="width: 10px">&nbsp;</th>
              <th style="width: 10px">&nbsp;</th>
            </tr>
            <tr *ngFor="let order of listOrders">
              <td>{{ order.date  | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
              <td>{{ order.user.firstName }} {{ order.user.lastName }}</td>
              <td>{{ order.productType.name }}</td>
              <td>{{ order.productSubType.name }}</td>
              <td>{{ order.product.name }}</td>
              <td>{{ order.totalValue  | number:'1.2-2'}}</td>
              <td>{{ order.status | translate }}</td>
              <td><button class="btn btn-primary" (click)="edit(order.id)">{{'edit' | translate}}</button></td>
              <td><button class="btn btn-danger" (click)="delete(order.id)">{{'cancel' | translate}}</button></td>
            </tr>
          </table>
        </div>
        <div class="box-footer clearfix">
          <ul class="pagination pagination-sm no-margin pull-right">
            <li><a href="" (click)="setPreviousPage($event)">&laquo;</a></li>
            <li  *ngFor="let p of pages; let i =index">
              <a [ngClass]="{'pagination-focus' : i == page}" href=""  (click)="setPage(i, $event)"> {{i + 1}}</a>
            </li>
            <li><a href="" (click)="setNextPage($event)">&raquo;</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
