<div class="col-md-12">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">{{'partners' | translate}}</h3>
        </div>
        <form class="form-horizontal" #form="ngForm">
            <div class="box-body">
                <div [ngClass]="getFromGroupClass(partner.name)">
                    <label for="inputname" class="col-sm-2 control-label">{{'name' | translate}}</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputname" placeholder="Name" [(ngModel)]="partner.name" #name="ngModel" name="name"pInputText>
                    </div>
                </div><!--
                <div [ngClass]="getFromGroupClass(partner.address)">
                    <label for="inputaddress" class="col-sm-2 control-label"> {{'address' | translate}}</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputaddress" placeholder="Endereço" [(ngModel)]="partner.address" #address="ngModel" name="address"pInputText>
                    </div>
                </div>-->
                <div>
                    <label for="inputImage" class="col-sm-2 control-label">{{'logo' | translate}}</label>
                    <div class="col-sm-10">
                    <input type="file" (change)="fileChangeEvent($event)" />

                    <image-cropper
                        [imageChangedEvent]="imageChangedEvent"
                        [maintainAspectRatio]="true"
                        [aspectRatio]="4 / 3"
                        format="png"
                        (imageCropped)="imageCropped($event)"
                        (imageLoaded)="imageLoaded()"
                        (cropperReady)="cropperReady()"
                        (loadImageFailed)="loadImageFailed()"
                    ></image-cropper>

                    <img [src]="partnerLogo" width="50%" />
                    </div>
                </div>
          </div>
            <div class="box-footer">
              <button type="button" label="Send" class="btn btn-info pull-right" (click)="register()">{{'send' | translate}}</button>
          </div>
        </form>
    </div>
  </div>
