<footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 0.0.1
    </div>
    <strong>Copyright &copy; 2014-2019 <a href="https://adminlte.io">Nex2You</a>.</strong> All rights
    reserved.
  </footer>