<div class="col-md-12">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">{{'productTypes' | translate}}</h3>
        </div>
        <form class="form-horizontal" #form="ngForm">
            <div [ngClass]="classCss" role="alert" *ngIf="message">
                <strong> {{ message.text }}</strong>
            </div>
            <div class="box-body">
                <div [ngClass]="getFromGroupClass(productType.name)">
                    <label for="inputname" class="col-sm-2 control-label">{{'name' | translate}}</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputname" placeholder="Name" [(ngModel)]="productType.name" #name="ngModel" name="name"pInputText>
                    </div>
                </div>
          </div>
            <div class="box-footer">
              <button type="button" label="Send" class="btn btn-info pull-right" (click)="register()">{{'send' | translate}}</button>
          </div>
        </form>
    </div>
  </div>