<div class="col-md-12">
  <div class="box box-info">
      <div class="box-header with-border">
          <h3 class="box-title">{{'orders' | translate}}</h3>
      </div>
      <form class="form-horizontal" #form="ngForm">
          <div class="box-body">
              <div [ngClass]="getFromGroupClass(order.productType.id)">
                  <label for="inputProductType" class="col-sm-2 control-label">{{'productType' | translate}}</label>
                  <div class="col-sm-10">
                      <input *ngIf="order.id" type="text" class="form-control" id="inputobservation" placeholder="" [(ngModel)]="order.productType.name" #producttype="ngModel" name="producttype" disabled>
                      <select *ngIf="!order.id" class="form-control select2" id="inputProductType" style="width: 100%" [(ngModel)]="order.productType.id" #productType="ngModel" name="productType"  (ngModelChange)="loadProductSubTypes()" required>
                          <option *ngFor='let element of productTypesList' [selected]="element === order.productType" [value]="element.id">{{element.name}}</option>
                      </select>
                  </div>
              </div>
              <div [ngClass]="getFromGroupClass(order.productSubType.id)">
                  <label for="inputProductType" class="col-sm-2 control-label">{{'productSubType' | translate}}</label>
                  <div class="col-sm-10">
                      <input *ngIf="order.id" type="text" class="form-control" id="inputobservation" placeholder="" [(ngModel)]="order.productSubType.name" #productsubtype="ngModel" name="productsubtype" disabled>
                      <select *ngIf="!order.id"s class="form-control select2" id="inputProductType" style="width: 100%" [(ngModel)]="order.productSubType.id" #productSubType="ngModel" name="productSubType"  (ngModelChange)="loadProducts()" required>
                          <option *ngFor='let element of productSubTypesList' [selected]="element.id === order.productSubType.id" [value]="element.id">{{element.name}}</option>
                      </select>
                  </div>
              </div>
              <div [ngClass]="getFromGroupClass(order.product.id)">
                  <label for="inputProductType" class="col-sm-2 control-label">{{'product' | translate}}</label>
                  <div class="col-sm-10">
                      <input *ngIf="order.id" type="text" class="form-control" id="inputobservation" placeholder="" [(ngModel)]="order.product.name" #product="ngModel" name="product" disabled>
                      <select *ngIf="!order.id" class="form-control select2" id="inputProductType" style="width: 100%" [(ngModel)]="order.product.id" #productSubType="ngModel" name="productSubType" required (ngModelChange)="loadProductValue()">
                          <option *ngFor='let element of productsList' [selected]="element === order.product" [value]="element.id">{{element.name}}</option>
                      </select>
                  </div>
              </div>
              <div [ngClass]="getFromGroupClass(order.observation)">
                  <label for="inputobservation" class="col-sm-2 control-label">{{'observation' | translate}}</label>
                  <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputobservation" placeholder="Observation" [(ngModel)]="order.observation" #observation="ngModel" name="observation">
                  </div>
              </div>
              <div [ngClass]="getFromGroupClass(order.quantity)">
                  <label for="inputquantity" class="col-sm-2 control-label">{{'quantity' | translate}}</label>
                  <div class="col-sm-10">
                      <input type="number" class="form-control" id="inputquantity" placeholder="Quantity" [(ngModel)]="order.quantity" #quantity="ngModel" name="quantity"(ngModelChange)="reloadTotalValue()" min="0">
                  </div>
              </div>
              <div [ngClass]="getFromGroupClass(order.totalValue)">
                  <label for="inputvalue" class="col-sm-2 control-label">{{'value' | translate}}</label>
                  <div class="col-sm-10">
                      <input type="number" class="form-control" id="inputvalue" placeholder="Value" [(ngModel)]="order.totalValue" #value="ngModel" name="value" disabled>
                  </div>
              </div>
        </div>
          <div class="box-footer">
            <button type="button" label="Send" class="btn btn-info pull-right" (click)="register()">{{'send' | translate}}</button>
        </div>
      </form>
  </div>
</div>
