<div class="col-md-12">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">{{'users' | translate}}</h3>
        </div>
        <form class="form-horizontal" #form="ngForm">
            <div [ngClass]="classCss" role="alert" *ngIf="message">
                <strong> {{ message.text }}</strong>
            </div>
            <div class="box-body">
                <div [ngClass]="getFromGroupClass(user.firstName)">
                    <label for="inputname" class="col-sm-2 control-label">{{'firstName' | translate}}</label>
  
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputname" placeholder="Name" [(ngModel)]="user.firstName" #firstName="ngModel" name="firstName"pInputText>
                    </div>
                </div>
                <div [ngClass]="getFromGroupClass(user.lastName)">
                    <label for="inputlastname" class="col-sm-2 control-label">{{'lastName' | translate}}</label>
  
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputlastname" placeholder="Name" [(ngModel)]="user.lastName" #lastName="ngModel" name="lastName"pInputText>
                    </div>
                </div>
              <div [ngClass]="getFromGroupClass(user.email)">
                    <label for="inputEmail" class="col-sm-2 control-label"> {{'email' | translate}}</label>
  
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail" placeholder="Email" [(ngModel)]="user.email" #email="ngModel" name="email"pInputText>
                    </div>
                </div>
                <div [ngClass]="getFromGroupClass(user.password)">
                    <label for="inputPassword" class="col-sm-2 control-label"> {{'password' | translate}}</label>
  
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password" [(ngModel)]="user.password" #password="ngModel" name="password"pInputText>
                    </div>
                </div>
                <div [ngClass]="getFromGroupClass(user.address)">
                    <label for="inputaddress" class="col-sm-2 control-label"> {{'address' | translate}}</label>
  
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputaddress" placeholder="Endereço" [(ngModel)]="user.address" #address="ngModel" name="address"pInputText>
                    </div>
                </div>
               <div [ngClass]="getFromGroupClass(user.city)">
                    <label for="inputcity" class="col-sm-2 control-label"> {{'city' | translate}}</label>
  
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputcity" placeholder="City" [(ngModel)]="user.city" #city="ngModel" name="city"pInputText>
                    </div>
                </div>
                <div [ngClass]="getFromGroupClass(user.language)">
                    <label for="inputLanguage" class="col-sm-2 control-label">Language</label>
        
                    <div class="col-sm-10">
                      <select class="form-control select2" id="inputLanguage" style="width: 100%"
                    [(ngModel)]="user.language" #language="ngModel" name="language">
                    <option value="es">Spanish</option>
                    <option value="pt">Portuguese</option>
                    <option value="en">English</option>
                    </select>
                            </div>
                </div>
          </div>
            <div class="box-footer">
              <button type="button" label="Send" class="btn btn-info pull-right" (click)="register()">{{'send' | translate}}</button>
          </div>
        </form>
    </div>
  </div>