<div class="col-md-12">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">{{'products' | translate}}</h3>
        </div>
        <form class="form-horizontal" #form="ngForm">
            <div class="box-body">
                <div [ngClass]="getFromGroupClass(product.name)">
                    <label for="inputname" class="col-sm-2 control-label">{{'name' | translate}}</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputname" placeholder="Name" [(ngModel)]="product.name" #name="ngModel" name="name">
                    </div>
                </div>
                <div [ngClass]="getFromGroupClass(product.description)">
                    <label for="inputdescription" class="col-sm-2 control-label">{{'description' | translate}}</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputdescription
                        " placeholder="Description" [(ngModel)]="product.description" #description="ngModel" name="description">
                    </div>
                </div>
                <div [ngClass]="getFromGroupClass(product.description)">
                    <label for="inputvalue" class="col-sm-2 control-label">{{'value' | translate}}</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="inputvalue" placeholder="Value" [(ngModel)]="product.value" #value="ngModel" name="value">
                    </div>
                </div>
                <div [ngClass]="getFromGroupClass(product.productType.id)">
                    <label for="inputProductType" class="col-sm-2 control-label">{{'productType' | translate}}</label>
                    <div class="col-sm-10">
                        <select class="form-control select2" id="inputProductType" style="width: 100%" [(ngModel)]="product.productType.id" #productType="ngModel" name="productType"  (ngModelChange)="loadProductSubTypes()" required>
                            <option *ngFor='let element of productTypesList' [selected]="element === product.productType" [value]="element.id">{{element.name}}</option>
                        </select>
                    </div>
                </div>
                <div [ngClass]="getFromGroupClass(product.productSubType.id)">
                    <label for="inputProductType" class="col-sm-2 control-label">{{'productSubType' | translate}}</label>
                    <div class="col-sm-10">
                        <select class="form-control select2" id="inputProductType" style="width: 100%" [(ngModel)]="product.productSubType.id" #productSubType="ngModel" name="productSubType" required>
                            <option *ngFor='let element of productSubTypesList' [selected]="element === product.productSubType" [value]="element.id">{{element.name}}</option>
                        </select>
                    </div>
                </div>
                <div>
                    <label for="inputImage" class="col-sm-2 control-label">{{'image' | translate}}</label>
                    <div class="col-sm-10">
                    <input type="file" (change)="fileChangeEvent($event)" />

                    <image-cropper
                        [imageChangedEvent]="imageChangedEvent"
                        [maintainAspectRatio]="true"
                        [aspectRatio]="4 / 3"
                        format="png"
                        (imageCropped)="imageCropped($event)"
                        (imageLoaded)="imageLoaded()"
                        (cropperReady)="cropperReady()"
                        (loadImageFailed)="loadImageFailed()"
                    ></image-cropper>

                    <img [src]="currentImage" width="50%" />
                    <button type="button" label="Send" class="btn btn-info pull-right" (click)="addImage()">+</button>
                </div>
                </div>
                <ng-image-slider [images]="imageObject" #nav></ng-image-slider>
          </div>
            <div class="box-footer">
              <button type="button" label="Send" class="btn btn-info pull-right" (click)="register()">{{'send' | translate}}</button>
          </div>
        </form>
    </div>
  </div>
