<app-header></app-header>
<app-menu></app-menu>
<div [ngClass]="showContentWrapper()">
    <section class="content-header">
    </section>
    <section class="content">
        <router-outlet></router-outlet>
    </section>
</div>     
<app-footer></app-footer>