<div [ngClass]="classCss" role="alert" *ngIf="message">
    <strong> {{ message.text }}</strong>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">{{'users' | translate}}</h3>
        </div>
        <div class="box-body">
          <button type="button" label="Send" class="btn btn-info pull-right" (click)="new()">{{'new' | translate}}</button>
          <table class="table table-bordered">
            <tr>
              <th>{{'name' | translate}}</th>
              <th>{{'email' | translate}}</th>
              <th style="width: 10px">&nbsp;</th>
              <th style="width: 10px">&nbsp;</th>
            </tr>
            <tr *ngFor="let user of listUser">
              <td>{{ user.firstName }} {{ user.lastName }}</td>
              <td>{{ user.email }}</td>
              <td><button class="btn btn-primary" (click)="edit(user.username)">{{'edit' | translate}}</button></td>  
              <td><button class="btn btn-danger" (click)="delete(user.id)">{{'delete' | translate}}</button></td>  
            </tr>
          </table>
        </div>
        <div class="box-footer clearfix">
          <ul class="pagination pagination-sm no-margin pull-right">
            <li><a href="" (click)="setPreviousPage($event)">&laquo;</a></li>
            <li  *ngFor="let p of pages; let i =index">
              <a [ngClass]="{'pagination-focus' : i == page}" href=""  (click)="setPage(i, $event)"> {{i + 1}}</a>
            </li>
            <li><a href="" (click)="setNextPage($event)">&raquo;</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>