<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>Alexander Pierce</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                  <i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li><a [routerLink]="['/']"><i class="fa fa-dashboard"></i> <span>{{'dashboard' | translate}}</span></a></li>
        <li><a [routerLink]="['/order-list']"><i class="fa fa-list"></i> <span>{{'orders' | translate}}</span></a></li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-book"></i>
            <span>{{ 'configurations' | translate}}</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a [routerLink]="['/user-list']"><i class="fa fa-users"></i>{{ 'users' | translate}}</a></li>
            <li><a [routerLink]="['/partner-list']"><i class="fa fa-suitcase"></i>{{ 'partners' | translate}}</a></li>
            <li><a [routerLink]="['/product-type-list']"><i class="fa fa-cog"></i>{{ 'productTypes' | translate}}</a></li>
            <li><a [routerLink]="['/product-list']"><i class="fa fa-money"></i>{{ 'products' | translate}}</a></li>
          </ul>
        </li>
        </ul>
    </section>
    <!-- /.sidebar -->
  </aside>